.block {
  min-height: 540px;
  // background-color: #454141;
  background-image:  url("../img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.block__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
  padding-top: 170px;
}

.block__title {
  width: 578px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}

.block__text {
  width: 626px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.btn-block {
  display: block;
  width: 245px;
  margin: 0 auto;
  padding: 17px 0;
  border: 1px solid #5f29cc;
  border-radius: 2px;
  background-color: #5f29cc;

  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 2880px) {
  .block {
    min-height: 1080px;
    // background-color: #454141;
    background-image:  url("../img/2xbg2.jpg");
  }

  .block__container {
    width: 2400px;
    margin: 0 auto;
    padding: 0 240px;
    padding-top: 355px;
  }

  .block__title {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
  }

  .block__text {
    width: 1260px;
    margin: 0 auto;
    margin-bottom: 90px;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
  }

  .btn-block {
    display: block;
    width: 480px;
    margin: 0 auto;
    padding: 38px 0;
    border: 2px solid #5f29cc;
    border-radius: 3px;

    font-size: 24px;
    line-height: 24px;
  }
}
