.footer-nav {
  width: 663px;
  margin-right: 220px;
  font-family: "SF UI Text", sans-serif;
  font-size: 0px;
  line-height: 14px;
  font-weight: 500;
  color: #000000;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__item {
  display: inline-block;
  margin-right: 30px;

  vertical-align: top;

}

.footer-nav__item:last-child {
  margin-right: 0;
}

.footer-nav__link {
  display: block;
  padding: 10px 0;
  padding-top: 6px;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.footer-nav__link:hover {
  color: #5f29cc;
}

@media (min-width: 2880px) {
  .footer-nav {
    width: 1340px;
    margin-right: 428px;
    font-family: "SF UI Text", sans-serif;
    font-size: 0px;
    line-height: 28px;
    font-weight: 500;
    color: #000000;
  }

  .footer-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer-nav__item {
    display: inline-block;
    margin-right: 60px;

    vertical-align: top;

  }

  .footer-nav__item:last-child {
    margin-right: 0;
  }

  .footer-nav__link {
    display: block;
    padding: 17px 0;
    padding-top: 10px;
    font-size: 28px;
    color: #000000;
    text-decoration: none;
  }

  .footer-nav__link:hover {
    color: #5f29cc;
  }
}
