.page-footer {
  padding-top: 40px;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0px 120px;
  margin: 0 auto;
  margin-bottom: 45px;

  &--bottom {
    display: flex;
    justify-content: flex-start;
    padding-top: 33px;
    padding-bottom: 30px;
  }
}

.page-footer__top {
  border-bottom: 1px solid #e8e8e8;
}

.page-footer__top-title {
  width: 625px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 28px;
  line-height: 28px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 50px;

  border: 1px solid #ebebeb;
  border-radius: 2px;
}

.page-footer__social-link {
  position: relative;
  display: block;
  padding-left: 40px;

  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #7d7d7d;
}

.page-footer__social-link::before {

}

.page-footer__bottom {
  background-color: #f5f5f5;
}

.page-footer__logo {
  display: block;
  width: 156px;
  height: 35px;
  margin-right: 58px;
}

.page-footer__logo-link {
  display: block;
}

.page-footer__logo-img {
  display: block;
}

.page-footer__copyright {
  padding: 10px 0;
  font-size: 12px;
  line-height: 12px;
}
