.partner-logo {
  padding: 45px 0;
  padding-top: 51px;
  background-color: #fafafa;
}

.partner-logo__title {
  width: 327px;
  margin: 0 auto;
  margin-bottom: 45px;

  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.partner-logo__container {
  display: flex;
  flex-wrap: wrap;

  width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
}

.partner-logo__wrapp {
  width: 136px;
  margin-right: 50px;
}

.partner-logo__wrapp:first-child {
  margin-left: 150px;
}

.partner-logo__item {
  display: flex;
  height: 74px;
  justify-content: center;
  align-items: center;
}

.partner-logo__link {
  display: block;
}

.partner-logo__img {
  display: block;
}
