.partner-list {
  background-color: #fafafa;
  padding: 60px 0;
}
.partner-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
}

.partner-list__title {
  width: 640px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
}

.partner-list__item {
  width: 285px;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0 0 25px 10px #efeff0;
}

.partner-list__item:nth-last-child(2),
.partner-list__item:nth-last-child(3),
.partner-list__item:nth-last-child(4),
.partner-list__item:nth-last-child(5) {
  margin-bottom: 40px;
}

.partner-list__item-img {
  display: block;
}

.partner-list__item-wrapp {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 27px;
  padding-right: 10px;
  border-radius: 2px;
  background-color: #ffffff;
}

.partner-list__item-name {
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.partner-list__item-category {
  font-size: 14px;
  line-height: 14px;
  color: #a5a5a5;
}

.btn-select-personally {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 15px 0;

  border-radius: 2px;
  background-color: #5f29cc;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

@media (min-width: 2880px) {
  .partner-list {
    padding: 120px 0;
  }

  .partner-list__container {
    width: 2400px;
    margin: 0 auto;
    padding: 0 240px;
  }

  .partner-list__title {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 115px;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0.02em;
  }

  .partner-list__item {
    width: 570px;
    height: 800px;
    margin-bottom: 40px;
    border-radius: 3px;
    box-shadow: 0 0 40px 15px #efeff0;
  }

  .partner-list__item:nth-last-child(2),
  .partner-list__item:nth-last-child(3),
  .partner-list__item:nth-last-child(4),
  .partner-list__item:nth-last-child(5) {
    margin-bottom: 80px;
  }

  .partner-list__item-img {
    display: block;
    width: 570px;
    height: 620px;
  }

  .partner-list__item-wrapp {
    padding-top: 45px;
    padding-bottom: 55px;
    padding-left: 65px;
    padding-right: 30px;
    border-radius: 3px;
  }

  .partner-list__item-name {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
  }

  .partner-list__item-category {
    font-size: 28px;
    line-height: 28px;
  }

  .btn-select-personally {
    display: block;
    width: 580px;
    margin: 0 auto;
    padding: 36px 0;

    border-radius: 3px;
    font-size: 28px;
    line-height: 28px;
  }
}
